// hamburger
.hamburger
  color: lighten($grey, 40%)
  outline: none
  border: none
  background-color: white
  display: none
  transition: all 1s ease
  @media only screen and ( max-width: 1279px )
    display: inline-block
  &:active, &:focus
      outline: none
  &:hover
    cursor: pointer
// hamburger END