// header
.header
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  background-color: $white
  height: auto
  &__top
    width: 100%
    display: flex
    z-index: 100
    background-color: $white
    position: fixed
    padding: 0
  &__container
    width: 100%
    flex-direction: column
    background-color: $white
    display: flex
    align-self: center
  &__img
    height: 45px
    width: auto
    align-self: center
    @media only screen and ( max-width: 479px)
      height: 35px
  &__list
    display: flex
    font-size: 14px
    align-items: center
    flex-wrap: nowrap
    @media only screen and ( max-width: 1279px)
      margin-left: auto
      margin-right: 15px
  &__icon
    color: $dark-green
    font-size: 25px 
    @media only screen and ( max-width: 479px)
      font-size: 18px 
// header END
   